.wrapper-cart {
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  height: calc(100vh - 55px);
}

.wrapper-cart h1 {
  color: white;
  text-align: center;
  padding: 1rem;
}

.btn-navigation {
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 6px;
  cursor: pointer;
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}
.form-control label {
  font-weight: 600;
}

.form-control input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.6rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}
